<header>
  <meta charset="UTF-8">
    <Title> Circulo </title>
      <body> 
        <div class="circle"></div>
         <link rel="stylesheet" href="estilos.css">      
       </body>
        <div class="header-content">
            <div class="header-content-inner">
                <h1>Adrian Coello</h1>
                <hr>
                <p>Estudiante de la Universidad de Guayaquil</p>
                <a href="#portfolio" class="btn btn-primary btn-xl page-scroll">Ver Más</a>
            </div>
        </div>
</header>
